<!DOCTYPE html>
<html>
<head>
  <title>{% include 'smart-title' %} | {{ shop.name }}</title>
  {% include 'meta' %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrapify-option-selection.js' | asset_url | script_tag }}
  
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  
  {{ 'transition.js' | asset_url | script_tag }}
  {{ 'button.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'collapse.js' | asset_url | script_tag }}
  {{ 'dropdown.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'tooltip.js' | asset_url | script_tag }}
  {{ 'popover.js' | asset_url | script_tag }}
  {{ 'typeahead.js' | asset_url | script_tag }}
  
  {{ settings.custom-font-embed-code }}
  {{ settings.custom-header-code }}
  
  {{ content_for_header }}
</head>

<body>
    <div class="container">
        <div class="wrapper">
              <div class="row header">
                  <div class="col-xs-12 animated fadeInRight">
                      {% if settings.navbar-placement != 'main-content' %}
                          <div class="nav-shopping-cart">
                            <a href="/cart" title="{% include '__localize' with 'View cart' %}"><strong>{% include '__localize' with 'View cart' %}</strong>&emsp;<span class="badge">{% include 'cart-count' %}</span></a></li>
                            {% if cart.item_count > 0 %}
                            <a href="/checkout" title="{% include '__localize' with 'Checkout' %}">{% include '__localize' with 'Checkout' %}</a></li>
                            {% endif %}
                        </div>
                      {% endif %}
                      {% if settings.use_logo %}
                      <a id="logo" href="/" role="banner">
                          {{ 'logo.png' | asset_url | img_tag: shop.name }}
                      </a><!-- #logo -->
                      {% endif %}
                      <h1 id="site-title" class="{% if settings.use_logo %}hidden{% endif %} text-center">
                          <a href="/">{{ shop.name }}</a>
                      </h1>
                  </div>
                  <div class="clearfix"></div>
                  {% if settings.navbar-placement != 'main-content' %}{% include 'navbar' %}{% endif %}
              </div>
              <div class="row content animated fadeInUp">
                {{ content_for_layout }}
              </div>
              <div class="row footer">
              </div>
        </div>
    </div>
  {{ '_base.js' | asset_url | script_tag }}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.search').typeahead({
        name: 'Products',
        local: [{% include 'search-typeahead' %}]
      }).on('typeahead:selected', function (object, datum) {
        $(this).closest('form').submit();
      });
    });
  </script>
  {{ settings.custom-footer-code }}
</body>
</html>
